<div class="container">
  <div class="row">
    <button id="toggle-format" type="button" class="btn btn-outline-secondary format-button">Format</button>
    <pre id="json-results"></pre>
  </div>
</div>

<%= javascript_include_tag 'display_results' %>
